/* You can add global styles to this file, and also import other style files */
.disable{
    opacity:0.3;
    cursor:not-allowed;
    background-color: grey;
}

.fontStyle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.main-container{
    background-color: yellow;
    border:solid 1px grey;
}

.containerStyling{
    padding: 5px 10px;
    margin-top: 10px;
}

.main-container-2{
    background-color: red;
    border:solid 1px grey;
}