<app-container></app-container>

<!-- sample directive -->
<div>
    <!-- property binding -->
    <!-- <input type='text' [value]='inputVal'/>  -->

    <!-- host binding -->
    <!-- <input type='text' appSampleDir [value]='inputVal'/>  -->

    <!-- event binding -->
    <!-- <input type='text' [value]='inputVal' (focus)=log()/> -->

    <!-- host listener -->
    <!-- <input type='text' appSampleDir />
    <button (click)="submit()">Submit</button> -->
</div>
<!-- <button>Submit</button> -->
<!-- <app-learn-view-encap></app-learn-view-encap> -->