form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label{
    color: blue;
}
.col{
    display: flex;
    column-gap: 10px;
}
input.ng-touched.ng-invalid{
    border: solid 1px red;
}
small{
    color: red;
}