<div class="ekart--product--details--info scroll" *ngIf="selectedProduct">
    <div class="ekart-product-detail-close">
        <i (click)="removeSelectedProd()" class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="ekart-product-detail-image">
        <img loading="lazy" [src]="selectedProduct.imageURL" class="ekart-product-detail-image">
    </div>

    <div class="ekart-product-detail">
        <div class="ekart-product-detail-name">
            <h2>{{selectedProduct.name}}</h2>
            selectedProduct
        </div>
        <div class="ekart-product-detail-gbc">
            <span setBackground>{{selectedProduct.gender}}</span>
            <span setBackground>{{selectedProduct.brand}}</span>
            <span setBackground>{{selectedProduct.category}}</span>
        </div>
        <div class="ekart-product-detail-price">
            <p>
                <b>Price Each Pair:</b>
                <span style="background-color: red; color:white"><s>${{selectedProduct.price}}</s></span>
                <span *ngIf="selectedProduct.discountPrice"
                    style="background-color: green; color:white">{{selectedProduct.discountPrice}}</span> (Inclusive of
                all
                taxes)
            </p>
        </div>
        <div class="ekart-product-detail-size">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Available Size</h4>
            </div>
            <diV style="margin-top: 20px">
                <span *ngFor="let size of selectedProduct.size"
                    class="ekart-product-detail-available-size">{{size}}</span>
            </diV>
        </div>

        <div class="ekart-product-detail-color">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Available Color</h4>
            </div>
            <diV style="margin-top: 20px;">
                <span *ngFor="let color of selectedProduct.color" class="ekart-product-detail-available-color"
                    [ngStyle]="{backgroundColor: color,border:'solid 1px black'}"></span>

            </diV>
        </div>

        <div class="ekart-product-detail-desc">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Product Description</h4>
            </div>
            <div style="margin-top: 20px">
                <p>{{selectedProduct.description}}</p>
            </div>
        </div>
    </div>
    <div class="ekart-product-detail-addtoCart">
        <button appHover class="btn-add-to-cart" *ngIf="selectedProduct.is_in_inventory; else notifyButton">ADD TO
            CART</button>
        <ng-template #notifyButton>
            <button appHover class="btn-add-to-cart">Notify Me</button>
        </ng-template>

    </div>
</div>
<div *ngIf="selectedProduct" class="overlay"></div>